# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000

# Gemini AI Configuration
EXPO_PUBLIC_GEMINI_API_KEY=AIzaSyCtJ911Qn0D7qmScJG82oc0G4-3vAiXZpU ERROR  Gemini AI analysis failed: [Error: [GoogleGenerativeAI Error]: Error fetching from https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent: [403 ] Method doesn't allow unregistered callers (callers without established identity). Please use API Key or other form of API consumer identity to call this API.]
 ERROR  Failed to process and save receipt: [TypeError: Network request failed]
 ERROR  AI receipt processing failed: [TypeError: Network request failed]


# Database Configuration (for backend)
DATABASE_URL=postgresql://moneymate_user:password@localhost:5432/moneymate

